/* div { */
/* Property: Value */
/* background-color: royalblue; */
/* padding: 20px; */
/* margin-bottom: 20px; */
/* ให้พื้นที่ด้านล่างมีระยะห่าง20px*/
.box {
  background-color: skyblue;
  padding: 20px;
  margin-bottom: 20px;
}

.title {
  font-size: 60px;
}

.text {
  font-size: 30px;
}

.button {
  color: white;
  background-color: blueviolet;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
  /* display : block มันคือเต็ม 100% ของบรรทัด */
  /* display : inline ปรับให้เท่ากับ width ถ้า width ไม่เกิน100 % 
    ก็ไม่ขึ้นบรรทัดใหม่ 
    */
  display: inline-block;
  width: 30%;
}
